body {
    background-color:#c7e8f3;
    color:#333;
}

h1 {
    color:#556f7a;
}

p {
    
}

.container {
    background-color:white;
    padding-top:20px;
}

.navbar {
    background-color:#556f7a;
    color:white;
}

img {
    float:left;
}

img {
    margin:20px;
}

footer {
    left:0;
    bottom:0;
    width:100%;
    background-color:#556f7a;
    color:white;
    text-align:center;
    padding:15px;
    border-style:solid;
    border-width:10px 0px 0px 0px;
    border-color:#eee0cb;
}

form {
    padding-bottom: 30px;
}